.App {
  text-align: center;
  background-color: #abd7eb;
  font-family: 'Roboto';
  font-weight: '400';
}

.outer-container {
  display: flex;
  background-color: #abd7eb;
  height: max-content;
}

.filterButton {
  background: salmon;
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #abd7eb;
  color: salmon;
  transition: background-color 1s ease-in-out;
  transition: color 1s ease-in-out;
}

.thumbnail {
  width: 150px;
}

.restore-button {
  background-color: navy;
  color: #abd7eb;
  font-family: 'Roboto';
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

