.App {
  text-align: center;
  background-color: #abd7eb;
  font-family: 'Roboto';
  font-weight: '400';
  height: 100vh;
}

.outer-container {
  display: flex;
  background-color: #abd7eb;
  height: max-content;
}

.filterButton {
  background: salmon;
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #abd7eb;
  color: salmon;
  transition: all 0.6s ease-in-out;
}

.thumbnail {
  width: 150px;
}

.restore-button {
  background-color: #000080;
  color: #abd7eb;
  font-family: 'Roboto';
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.restore-button:hover {
  background: #fff;
  color:#abd7eb;
  transition: all 0.6s ease-in-out;
}

.box-container {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
}

.box-container-active {
  transform: scaleY(1);
}

.meal-detail-container {
  background-color: #abd7eb;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000080;
}

.ingredient-list {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.meal-detail {
  background-color: salmon;
  color: '#000080';
  margin-top: 20px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.meal-detail:hover {
  background-color: #000080;
  color: salmon;
}